---
// Story component
---
<section id="story" class="story">
  <div class="container">
    <h2>Our Story</h2>
    <div class="story-content">
      <div class="story-image">
        <img src="/couple-photo.jpg" alt="Habib and Sheila" loading="lazy" />
      </div>
      <div class="story-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus eros at tortor tempor ultrices. Ut lacus varius, feugiat erat vel, imperdiet odio. Donec in porta lectus, feugiat a lorem. Proin pharetra arcu quis tellus aliquet dignissim.</p>
        <p>Fusce ac ex ac dui vestibulum sollicitudin sit amet sed ipsum. Donec commodo consectetur metus, vitae gravida erat convallis in. Pellentesque non justo vitae velit volutpat aliquet. Cras magna orci, semper at ultricies vel, convallis et velit.</p>
      </div>
    </div>
  </div>
</section>